<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Music 100 - Harmony Worksheet</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/harmony.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Music 100 - Harmony Worksheet
      </h1>
    </header>
    
    <div id="id" class="question">
      <label for="idnumber">Enter your student ID: </label>
      <input type="number" name="idnumber" id="idnumber"/>
      <button type="button" id="start">
        Start
      </button>
    </div>
    
    <div id="container">
      
    
      <div id="handel">
        <img src="https://cdn.glitch.com/ba66e22e-49d8-46fa-abb2-cdd3790b12e6%2FHandel.png?v=1585592834916" alt="Handel score" width="800px"/>
      </div>

      <div id="qa" class="question">
        <p>
          Question 1a. Show the root of each chord - if the chord is a functional harmony - by typing a roman numeral in the box under the bass note.
        </p>
        <svg viewbox="0 0 800 300" width="800" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <image href="https://cdn.glitch.com/ba66e22e-49d8-46fa-abb2-cdd3790b12e6%2FHandel-firsthalf.png?v=1585593696462" width="800" height="230"/>
          <rect x="730" y="0" width="70" height="230" fill="white" />
          <g stroke="black" fill="white">
            <rect x="60" y="220" width="30" height="30" id="qa1" class="text" />
            <text x="64" y="240" fill="black"></text>
            <rect x="105" y="220" width="30" height="30" id="qa2" class="text"></rect>
            <text x="109" y="240" fill="black"></text>
            <rect x="145" y="220" width="30" height="30" id="qa3" class="text"></rect>
            <text x="149" y="240" fill="black"></text>
            <rect x="185" y="220" width="30" height="30" id="qa4" class="text"></rect>
            <text x="189" y="240" fill="black"></text>
            <rect x="245" y="220" width="30" height="30" id="qa5" class="text"></rect>
            <text x="249" y="240" fill="black"></text>
            <rect x="305" y="220" width="60" height="30" id="qa6" class="text"></rect>
            <text x="309" y="240" fill="black"></text>
            <rect x="400" y="220" width="30" height="30" id="qa7" class="text"></rect>
            <text x="404" y="240" fill="black"></text>
            <rect x="440" y="220" width="30" height="30" id="qa8" class="text"></rect>
            <text x="444" y="240" fill="black"></text>
            <rect x="485" y="220" width="30" height="30" id="qa9" class="text"></rect>
            <text x="489" y="240" fill="black"></text>
            <rect x="535" y="220" width="30" height="30" id="qa10" class="text"></rect>
            <text x="539" y="240" fill="black"></text>
            <rect x="590" y="220" width="30" height="30" id="qa11" class="text"></rect>
            <text x="594" y="240" fill="black"></text>
            <rect x="640" y="220" width="30" height="30" id="qa12" class="text"></rect>
            <text x="644" y="240" fill="black"></text>
            <rect x="695" y="220" width="30" height="30" id="qa13" class="text"></rect>
            <text x="699" y="240" fill="black"></text>
          </g>

        </svg>

      </div>
      <div id="qb" class="question">
        <p>
          Question 1b. Referring to your harmonic analysis, explain in a few words:
        </p>
        <div>
          <label for="qb1">i. what creates continuity during the first phrase?</label>
          <input type="text" name="qb1" id="qb1" />
        </div>
        <div>
          <label for="qb2">ii. what gives substance to the first phrase?</label>
          <input type="text" name="qb2" id="qb2" />
        </div>
        
      </div>
      <div id="qc" class="question">
        <p>
          Question 1c.
        </p>
        <svg viewbox="0 0 800 300" width="800" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <image href="https://cdn.glitch.com/ba66e22e-49d8-46fa-abb2-cdd3790b12e6%2FHandel-firsthalf.png?v=1585593696462" y="30" width="800" height="230"/>
          <rect x="730" y="0" width="70" height="230" fill="white" />
          <g stroke="black" fill="white">
            <path d="M 280 40
                     v 39" />
            <rect x="270" y="10" width="30" height="30" id="qc1" class="text"/>
            <text x="274" y="30" fill="black"></text>
            <path d="M 325 50
                     v 45" />
            <rect x="310" y="20" width="30" height="30" id="qc2" class="text"/>
            <text x="314" y="40" fill="black"></text>
            <path d="M 355 70
                     v 96" />
            <rect x="345" y="40" width="30" height="30" id="qc3" class="text"/>
            <text x="349" y="60" fill="black"></text>
            <path d="M 390 50
                     v 49" />
            <rect x="380" y="20" width="30" height="30" id="qc4" class="text"/>
            <text x="384" y="40" fill="black"></text>
            <path d="M 575 50
                     v 42" />
            <rect x="560" y="20" width="30" height="30" id="qc5" class="text"/>
            <text x="564" y="40" fill="black"></text>
            <path d="M 650 40
                     v 52" />
            <rect x="640" y="10" width="30" height="30" id="qc6" class="text"/>
            <text x="644" y="30" fill="black"></text>
          </g>
          
        </svg>
        
      </div>
      
      
      <div id="q2" class="question">
        <p>
          Question 2.
        </p>
        <div id="buttons">
          <button type="button" id="note2">
            half-note notehead <img src="https://cdn.glitch.com/ba66e22e-49d8-46fa-abb2-cdd3790b12e6%2Fnote2.png?v=1584922129671" />
          </button>
          <button type="button" id="note3">
            whole note <img src="https://cdn.glitch.com/ba66e22e-49d8-46fa-abb2-cdd3790b12e6%2Fnote3.png?v=1584922120000" />
          </button>
          <button type="button" id="eraser">
            eraser
          </button>
          <button type="button" id="barline">
            barline
          </button>
          <button type="button" id="select">
            select notes to add stem
          </button>
          <button type="button" id="stemup">
            stem up
          </button>
          <button type="button" id="stemdown">
            stem down
          </button>
        </div>
        <svg viewbox="0 0 800 300" width="800" height="300" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg-q2">
          <!--initial staff lines-->
          <g style="stroke:black;stroke-width:1;fill:none">
            <path d="M 30 80
                     v 120" />
            <path d="M 30 80
                     h 140
                     M 30 90
                     h 140
                     M 30 100
                     h 140
                     M 30 110
                     h 140
                     M 30 120
                     h 140
                     M 30 160
                     h 140
                     M 30 170
                     h 140
                     M 30 180
                     h 140
                     M 30 190
                     h 140
                     M 30 200
                     h 140" />
          </g>
          <!--target boxes treble staff-->
          <g style="stroke:none;fill:white">
            <rect x="170" y="78" width="35" height="5" />
            <rect x="170" y="88" width="35" height="5" />
            <rect x="170" y="98" width="35" height="5" />
            <rect x="170" y="108" width="35" height="5" />
            <rect x="170" y="118" width="35" height="5" />
            <rect x="170" y="83" width="35" height="5" />
            <rect x="170" y="93" width="35" height="5" />
            <rect x="170" y="103" width="35" height="5" />
            <rect x="170" y="113" width="35" height="5" />
            <rect x="170" y="123" width="35" height="5" />
            
            <rect x="205" y="78" width="35" height="5" />
            <rect x="205" y="88" width="35" height="5" />
            <rect x="205" y="98" width="35" height="5" />
            <rect x="205" y="108" width="35" height="5" />
            <rect x="205" y="118" width="35" height="5" />
            <rect x="205" y="83" width="35" height="5" />
            <rect x="205" y="93" width="35" height="5" />
            <rect x="205" y="103" width="35" height="5" />
            <rect x="205" y="113" width="35" height="5" />
            <rect x="205" y="123" width="35" height="5" />
            
            <rect x="240" y="78" width="35" height="5" />
            <rect x="240" y="88" width="35" height="5" />
            <rect x="240" y="98" width="35" height="5" />
            <rect x="240" y="108" width="35" height="5" />
            <rect x="240" y="118" width="35" height="5" />
            <rect x="240" y="83" width="35" height="5" />
            <rect x="240" y="93" width="35" height="5" />
            <rect x="240" y="103" width="35" height="5" />
            <rect x="240" y="113" width="35" height="5" />
            <rect x="240" y="123" width="35" height="5" />
            
            <rect x="275" y="78" width="35" height="5" />
            <rect x="275" y="88" width="35" height="5" />
            <rect x="275" y="98" width="35" height="5" />
            <rect x="275" y="108" width="35" height="5" />
            <rect x="275" y="118" width="35" height="5" />
            <rect x="275" y="83" width="35" height="5" />
            <rect x="275" y="93" width="35" height="5" />
            <rect x="275" y="103" width="35" height="5" />
            <rect x="275" y="113" width="35" height="5" />
            <rect x="275" y="123" width="35" height="5" />
            
            <rect x="310" y="78" width="35" height="5" />
            <rect x="310" y="88" width="35" height="5" />
            <rect x="310" y="98" width="35" height="5" />
            <rect x="310" y="108" width="35" height="5" />
            <rect x="310" y="118" width="35" height="5" />
            <rect x="310" y="83" width="35" height="5" />
            <rect x="310" y="93" width="35" height="5" />
            <rect x="310" y="103" width="35" height="5" />
            <rect x="310" y="113" width="35" height="5" />
            <rect x="310" y="123" width="35" height="5" />
            
            <rect x="345" y="78" width="35" height="5" />
            <rect x="345" y="88" width="35" height="5" />
            <rect x="345" y="98" width="35" height="5" />
            <rect x="345" y="108" width="35" height="5" />
            <rect x="345" y="118" width="35" height="5" />
            <rect x="345" y="83" width="35" height="5" />
            <rect x="345" y="93" width="35" height="5" />
            <rect x="345" y="103" width="35" height="5" />
            <rect x="345" y="113" width="35" height="5" />
            <rect x="345" y="123" width="35" height="5" />
            
            <rect x="380" y="78" width="35" height="5" />
            <rect x="380" y="88" width="35" height="5" />
            <rect x="380" y="98" width="35" height="5" />
            <rect x="380" y="108" width="35" height="5" />
            <rect x="380" y="118" width="35" height="5" />
            <rect x="380" y="83" width="35" height="5" />
            <rect x="380" y="93" width="35" height="5" />
            <rect x="380" y="103" width="35" height="5" />
            <rect x="380" y="113" width="35" height="5" />
            <rect x="380" y="123" width="35" height="5" />
            
            <rect x="415" y="78" width="35" height="5" />
            <rect x="415" y="88" width="35" height="5" />
            <rect x="415" y="98" width="35" height="5" />
            <rect x="415" y="108" width="35" height="5" />
            <rect x="415" y="118" width="35" height="5" />
            <rect x="415" y="83" width="35" height="5" />
            <rect x="415" y="93" width="35" height="5" />
            <rect x="415" y="103" width="35" height="5" />
            <rect x="415" y="113" width="35" height="5" />
            <rect x="415" y="123" width="35" height="5" />
            
            <rect x="450" y="78" width="35" height="5" />
            <rect x="450" y="88" width="35" height="5" />
            <rect x="450" y="98" width="35" height="5" />
            <rect x="450" y="108" width="35" height="5" />
            <rect x="450" y="118" width="35" height="5" />
            <rect x="450" y="83" width="35" height="5" />
            <rect x="450" y="93" width="35" height="5" />
            <rect x="450" y="103" width="35" height="5" />
            <rect x="450" y="113" width="35" height="5" />
            <rect x="450" y="123" width="35" height="5" />
            
            <rect x="485" y="78" width="35" height="5" />
            <rect x="485" y="88" width="35" height="5" />
            <rect x="485" y="98" width="35" height="5" />
            <rect x="485" y="108" width="35" height="5" />
            <rect x="485" y="118" width="35" height="5" />
            <rect x="485" y="83" width="35" height="5" />
            <rect x="485" y="93" width="35" height="5" />
            <rect x="485" y="103" width="35" height="5" />
            <rect x="485" y="113" width="35" height="5" />
            <rect x="485" y="123" width="35" height="5" />
            
            <rect x="520" y="78" width="35" height="5" />
            <rect x="520" y="88" width="35" height="5" />
            <rect x="520" y="98" width="35" height="5" />
            <rect x="520" y="108" width="35" height="5" />
            <rect x="520" y="118" width="35" height="5" />
            <rect x="520" y="83" width="35" height="5" />
            <rect x="520" y="93" width="35" height="5" />
            <rect x="520" y="103" width="35" height="5" />
            <rect x="520" y="113" width="35" height="5" />
            <rect x="520" y="123" width="35" height="5" />
            
            <rect x="555" y="78" width="35" height="5" />
            <rect x="555" y="88" width="35" height="5" />
            <rect x="555" y="98" width="35" height="5" />
            <rect x="555" y="108" width="35" height="5" />
            <rect x="555" y="118" width="35" height="5" />
            <rect x="555" y="83" width="35" height="5" />
            <rect x="555" y="93" width="35" height="5" />
            <rect x="555" y="103" width="35" height="5" />
            <rect x="555" y="113" width="35" height="5" />
            <rect x="555" y="123" width="35" height="5" />
          </g>
          <!--target boxes bass staff-->
          <g style="stroke:none;fill:white">
            <rect x="170" y="178" width="35" height="5" />
            <rect x="170" y="188" width="35" height="5" />
            <rect x="170" y="198" width="35" height="5" />
            <rect x="170" y="168" width="35" height="5" />
            <rect x="170" y="158" width="35" height="5" />
            <rect x="170" y="183" width="35" height="5" />
            <rect x="170" y="193" width="35" height="5" />
            <rect x="170" y="163" width="35" height="5" />
            <rect x="170" y="173" width="35" height="5" />
            <rect x="170" y="203" width="35" height="5" />
            
            <rect x="205" y="178" width="35" height="5" />
            <rect x="205" y="188" width="35" height="5" />
            <rect x="205" y="198" width="35" height="5" />
            <rect x="205" y="168"  width="35" height="5" />
            <rect x="205" y="158"  width="35" height="5" />
            <rect x="205" y="183" width="35" height="5" />
            <rect x="205" y="193" width="35" height="5" />
            <rect x="205" y="163"  width="35" height="5" />
            <rect x="205" y="173"  width="35" height="5" />
            <rect x="205" y="203"  width="35" height="5" />
            
            <rect x="240" y="178" width="35" height="5" />
            <rect x="240" y="188" width="35" height="5" />
            <rect x="240" y="198" width="35" height="5" />
            <rect x="240" y="168"  width="35" height="5" />
            <rect x="240" y="158"  width="35" height="5" />
            <rect x="240" y="183" width="35" height="5" />
            <rect x="240" y="193" width="35" height="5" />
            <rect x="240" y="163"  width="35" height="5" />
            <rect x="240" y="173"  width="35" height="5" />
            <rect x="240" y="203"  width="35" height="5" />
            
            <rect x="275" y="178" width="35" height="5" />
            <rect x="275" y="188" width="35" height="5" />
            <rect x="275" y="198" width="35" height="5" />
            <rect x="275" y="168"  width="35" height="5" />
            <rect x="275" y="158"  width="35" height="5" />
            <rect x="275" y="183" width="35" height="5" />
            <rect x="275" y="193" width="35" height="5" />
            <rect x="275" y="163"  width="35" height="5" />
            <rect x="275" y="173"  width="35" height="5" />
            <rect x="275" y="203"  width="35" height="5" />
            
            <rect x="310" y="178" width="35" height="5" />
            <rect x="310" y="188" width="35" height="5" />
            <rect x="310" y="198" width="35" height="5" />
            <rect x="310" y="168"  width="35" height="5" />
            <rect x="310" y="158"  width="35" height="5" />
            <rect x="310" y="183" width="35" height="5" />
            <rect x="310" y="193" width="35" height="5" />
            <rect x="310" y="163"  width="35" height="5" />
            <rect x="310" y="173"  width="35" height="5" />
            <rect x="310" y="203"  width="35" height="5" />
            
            <rect x="345" y="178" width="35" height="5" />
            <rect x="345" y="188" width="35" height="5" />
            <rect x="345" y="198" width="35" height="5" />
            <rect x="345" y="168"  width="35" height="5" />
            <rect x="345" y="158"  width="35" height="5" />
            <rect x="345" y="183" width="35" height="5" />
            <rect x="345" y="193" width="35" height="5" />
            <rect x="345" y="163"  width="35" height="5" />
            <rect x="345" y="173"  width="35" height="5" />
            <rect x="345" y="203"  width="35" height="5" />
            
            <rect x="380" y="178" width="35" height="5" />
            <rect x="380" y="188" width="35" height="5" />
            <rect x="380" y="198" width="35" height="5" />
            <rect x="380" y="168"  width="35" height="5" />
            <rect x="380" y="158"  width="35" height="5" />
            <rect x="380" y="183" width="35" height="5" />
            <rect x="380" y="193" width="35" height="5" />
            <rect x="380" y="163"  width="35" height="5" />
            <rect x="380" y="173"  width="35" height="5" />
            <rect x="380" y="203"  width="35" height="5" />
            
            <rect x="415" y="178" width="35" height="5" />
            <rect x="415" y="188" width="35" height="5" />
            <rect x="415" y="198" width="35" height="5" />
            <rect x="415" y="168"  width="35" height="5" />
            <rect x="415" y="158"  width="35" height="5" />
            <rect x="415" y="183" width="35" height="5" />
            <rect x="415" y="193" width="35" height="5" />
            <rect x="415" y="163"  width="35" height="5" />
            <rect x="415" y="173"  width="35" height="5" />
            <rect x="415" y="203"  width="35" height="5" />
            
            <rect x="450" y="178" width="35" height="5" />
            <rect x="450" y="188" width="35" height="5" />
            <rect x="450" y="198" width="35" height="5" />
            <rect x="450" y="168"  width="35" height="5" />
            <rect x="450" y="158"  width="35" height="5" />
            <rect x="450" y="183" width="35" height="5" />
            <rect x="450" y="193" width="35" height="5" />
            <rect x="450" y="163"  width="35" height="5" />
            <rect x="450" y="173"  width="35" height="5" />
            <rect x="450" y="203"  width="35" height="5" />
            
            <rect x="485" y="178" width="35" height="5" />
            <rect x="485" y="188" width="35" height="5" />
            <rect x="485" y="198" width="35" height="5" />
            <rect x="485" y="168"  width="35" height="5" />
            <rect x="485" y="158"  width="35" height="5" />
            <rect x="485" y="183" width="35" height="5" />
            <rect x="485" y="193" width="35" height="5" />
            <rect x="485" y="163"  width="35" height="5" />
            <rect x="485" y="173"  width="35" height="5" />
            <rect x="485" y="203"  width="35" height="5" />
            
            <rect x="520" y="178" width="35" height="5" />
            <rect x="520" y="188" width="35" height="5" />
            <rect x="520" y="198" width="35" height="5" />
            <rect x="520" y="168"  width="35" height="5" />
            <rect x="520" y="158"  width="35" height="5" />
            <rect x="520" y="183" width="35" height="5" />
            <rect x="520" y="193" width="35" height="5" />
            <rect x="520" y="163"  width="35" height="5" />
            <rect x="520" y="173"  width="35" height="5" />
            <rect x="520" y="203"  width="35" height="5" />
            
            <rect x="555" y="178" width="35" height="5" />
            <rect x="555" y="188" width="35" height="5" />
            <rect x="555" y="198" width="35" height="5" />
            <rect x="555" y="168"  width="35" height="5" />
            <rect x="555" y="158"  width="35" height="5" />
            <rect x="555" y="183" width="35" height="5" />
            <rect x="555" y="193" width="35" height="5" />
            <rect x="555" y="163"  width="35" height="5" />
            <rect x="555" y="173"  width="35" height="5" />
            <rect x="555" y="203"  width="35" height="5" />
          </g>
          
          <g style="stroke:none; fill:black">
            <rect x="170" y="79.5" width="35" height="1" />
            <rect x="170" y="89.5" width="35" height="1" />
            <rect x="170" y="99.5" width="35" height="1" />
            <rect x="170" y="109.5" width="35" height="1" />
            <rect x="170" y="119.5" width="35" height="1" />
            
            <rect x="205" y="79.5" width="35" height="1" />
            <rect x="205" y="89.5" width="35" height="1" />
            <rect x="205" y="99.5" width="35" height="1" />
            <rect x="205" y="109.5" width="35" height="1" />
            <rect x="205" y="119.5" width="35" height="1" />
            
            <rect x="240" y="79.5" width="35" height="1" />
            <rect x="240" y="89.5" width="35" height="1" />
            <rect x="240" y="99.5" width="35" height="1" />
            <rect x="240" y="109.5" width="35" height="1" />
            <rect x="240" y="119.5" width="35" height="1" />
            
            <rect x="275" y="79.5" width="35" height="1" />
            <rect x="275" y="89.5" width="35" height="1" />
            <rect x="275" y="99.5" width="35" height="1" />
            <rect x="275" y="109.5" width="35" height="1" />
            <rect x="275" y="119.5" width="35" height="1" />
            
            <rect x="310" y="79.5" width="35" height="1" />
            <rect x="310" y="89.5" width="35" height="1" />
            <rect x="310" y="99.5" width="35" height="1" />
            <rect x="310" y="109.5" width="35" height="1" />
            <rect x="310" y="119.5" width="35" height="1" />
            
            <rect x="345" y="79.5" width="35" height="1" />
            <rect x="345" y="89.5" width="35" height="1" />
            <rect x="345" y="99.5" width="35" height="1" />
            <rect x="345" y="109.5" width="35" height="1" />
            <rect x="345" y="119.5" width="35" height="1" />
            
            <rect x="380" y="79.5" width="35" height="1" />
            <rect x="380" y="89.5" width="35" height="1" />
            <rect x="380" y="99.5" width="35" height="1" />
            <rect x="380" y="109.5" width="35" height="1" />
            <rect x="380" y="119.5" width="35" height="1" />
            
            <rect x="415" y="79.5" width="35" height="1" />
            <rect x="415" y="89.5" width="35" height="1" />
            <rect x="415" y="99.5" width="35" height="1" />
            <rect x="415" y="109.5" width="35" height="1" />
            <rect x="415" y="119.5" width="35" height="1" />
            
            <rect x="450" y="79.5" width="35" height="1" />
            <rect x="450" y="89.5" width="35" height="1" />
            <rect x="450" y="99.5" width="35" height="1" />
            <rect x="450" y="109.5" width="35" height="1" />
            <rect x="450" y="119.5" width="35" height="1" />
            
            <rect x="485" y="79.5" width="35" height="1" />
            <rect x="485" y="89.5" width="35" height="1" />
            <rect x="485" y="99.5" width="35" height="1" />
            <rect x="485" y="109.5" width="35" height="1" />
            <rect x="485" y="119.5" width="35" height="1" />
            
            <rect x="520" y="79.5" width="35" height="1" />
            <rect x="520" y="89.5" width="35" height="1" />
            <rect x="520" y="99.5" width="35" height="1" />
            <rect x="520" y="109.5" width="35" height="1" />
            <rect x="520" y="119.5" width="35" height="1" />
            
            <rect x="555" y="79.5" width="35" height="1" />
            <rect x="555" y="89.5" width="35" height="1" />
            <rect x="555" y="99.5" width="35" height="1" />
            <rect x="555" y="109.5" width="35" height="1" />
            <rect x="555" y="119.5" width="35" height="1" />
            
            <rect x="170" y="159.5" width="35" height="1" />
            <rect x="170" y="169.5" width="35" height="1" />
            <rect x="170" y="179.5" width="35" height="1" />
            <rect x="170" y="189.5" width="35" height="1" />
            <rect x="170" y="199.5" width="35" height="1" />
            
            <rect x="205" y="159.5" width="35" height="1" />
            <rect x="205" y="169.5" width="35" height="1" />
            <rect x="205" y="179.5" width="35" height="1" />
            <rect x="205" y="189.5" width="35" height="1" />
            <rect x="205" y="199.5" width="35" height="1" />
            
            <rect x="240" y="159.5" width="35" height="1" />
            <rect x="240" y="169.5" width="35" height="1" />
            <rect x="240" y="179.5" width="35" height="1" />
            <rect x="240" y="189.5" width="35" height="1" />
            <rect x="240" y="199.5" width="35" height="1" />
            
            <rect x="275" y="159.5" width="35" height="1" />
            <rect x="275" y="169.5" width="35" height="1" />
            <rect x="275" y="179.5" width="35" height="1" />
            <rect x="275" y="189.5" width="35" height="1" />
            <rect x="275" y="199.5" width="35" height="1" />
            
            <rect x="310" y="159.5" width="35" height="1" />
            <rect x="310" y="169.5" width="35" height="1" />
            <rect x="310" y="179.5" width="35" height="1" />
            <rect x="310" y="189.5" width="35" height="1" />
            <rect x="310" y="199.5" width="35" height="1" />
            
            <rect x="345" y="159.5" width="35" height="1" />
            <rect x="345" y="169.5" width="35" height="1" />
            <rect x="345" y="179.5" width="35" height="1" />
            <rect x="345" y="189.5" width="35" height="1" />
            <rect x="345" y="199.5" width="35" height="1" />
            
            <rect x="380" y="159.5" width="35" height="1" />
            <rect x="380" y="169.5" width="35" height="1" />
            <rect x="380" y="179.5" width="35" height="1" />
            <rect x="380" y="189.5" width="35" height="1" />
            <rect x="380" y="199.5" width="35" height="1" />
            
            <rect x="415" y="159.5" width="35" height="1" />
            <rect x="415" y="169.5" width="35" height="1" />
            <rect x="415" y="179.5" width="35" height="1" />
            <rect x="415" y="189.5" width="35" height="1" />
            <rect x="415" y="199.5" width="35" height="1" />
            
            <rect x="450" y="159.5" width="35" height="1" />
            <rect x="450" y="169.5" width="35" height="1" />
            <rect x="450" y="179.5" width="35" height="1" />
            <rect x="450" y="189.5" width="35" height="1" />
            <rect x="450" y="199.5" width="35" height="1" />
            
            <rect x="485" y="159.5" width="35" height="1" />
            <rect x="485" y="169.5" width="35" height="1" />
            <rect x="485" y="179.5" width="35" height="1" />
            <rect x="485" y="189.5" width="35" height="1" />
            <rect x="485" y="199.5" width="35" height="1" />
            
            <rect x="520" y="159.5" width="35" height="1" />
            <rect x="520" y="169.5" width="35" height="1" />
            <rect x="520" y="179.5" width="35" height="1" />
            <rect x="520" y="189.5" width="35" height="1" />
            <rect x="520" y="199.5" width="35" height="1" />
            
            <rect x="555" y="159.5" width="35" height="1" />
            <rect x="555" y="169.5" width="35" height="1" />
            <rect x="555" y="179.5" width="35" height="1" />
            <rect x="555" y="189.5" width="35" height="1" />
            <rect x="555" y="199.5" width="35" height="1" />
          </g>
          <!--treble clef-->
          <g style="stroke:black; stroke-width:1; fill:black; ">
           <circle cx="42" cy="130" r="3" />
            <path d="M39,130 
                     a 5 5 0 0 0 11 0
                     l -5 -50
                     " fill="none" >
            </path>
            <path d="M 45 80
                     c -1 -8, -1 -12, 5 -18
                     l 2 4
                     c -5 6, -7 6, -7 14
                     m 7 -14
                     c 1 2.5, 5 20, -5 26
                     c -14 9, -12 26, 1 28
                     c -19 0, -16 -27, -2 -33
                     c 11 -9, 5 -18.5, 6 -21
                     m -4 53
                     a 8 8 0 1 0 -5 -4
                     a 10 10 0 1 1 5 4" />
          </g>
          <!--bass clef-->
          <g style="stroke:black; stroke-width:1; fill:black; ">
            <circle cx="42" cy="170" r="2" />
            <path d="M 42 172
                     a 5 5 0 1 1 -2 -10
                     a 3 4 0 1 0 2 8
                     m -2 -8
                     c 20 -2, 12 25, -7 30
                     c 30 -5, 30 -40, 7 -30" />
            <circle cx="61" cy="165" r="2" />
            <circle cx="61" cy="175" r="2" />
          </g>
          <!--sharps-->
          <g stroke="black" stroke-width="1" fill="black">
            <path d="M 68 69
                     v 24
                     m 4 -25
                     v 24
                     m -6 -14
                     l 8 -3
                     v -2
                     l -8 3
                     m 0 12
                     l 8 -3
                     v -2
                     l -8 3"/>
            <path d="M 78 84
                     v 24
                     m 4 -25
                     v 24
                     m -6 -14
                     l 8 -3
                     v -2
                     l -8 3
                     m 0 12
                     l 8 -3
                     v -2
                     l -8 3"/>
            <path d="M 68 159
                     v 24
                     m 4 -25
                     v 24
                     m -6 -14
                     l 8 -3
                     v -2
                     l -8 3
                     m 0 12
                     l 8 -3
                     v -2
                     l -8 3"/>
            <path d="M 78 174
                     v 24
                     m 4 -25
                     v 24
                     m -6 -14
                     l 8 -3
                     v -2
                     l -8 3
                     m 0 12
                     l 8 -3
                     v -2
                     l -8 3"/>
          </g>
          <g style="font-family:Helsinki; fill:black; font-size:35px">
            <text text-anchor="middle" x="100" y="90" >2</text>
            <text text-anchor="middle" x="100" y="110" >2</text>
            <text text-anchor="middle" x="100" y="170" >2</text>
            <text text-anchor="middle" x="100" y="190" >2</text>
          </g>
          
          <!--first chord-->
          <g style="stroke:black; stroke-width:1; fill:black; fill-rule:evenodd">
            <path d="M 130 93.5
              a 6 4 -35 0 1 9.829824531467902 -6.882917236212552
              a 6 4 -35 0 1 -9.829824531467902 6.882917236212552
              m 0.4095760221444959 -0.286788218175523
              a 5.5 2.2 -35 0 1 9.01067248717891 -6.309340799861506
              a 5.5 2.2 -35 0 1 -9.01067248717891 6.309340799861506" />
            <path d="M 130 108.5
              a 6 4 -35 0 1 9.829824531467902 -6.882917236212552
              a 6 4 -35 0 1 -9.829824531467902 6.882917236212552
              m 0.4095760221444959 -0.286788218175523
              a 5.5 2.2 -35 0 1 9.01067248717891 -6.309340799861506
              a 5.5 2.2 -35 0 1 -9.01067248717891 6.309340799861506" />
            <path d="M 130 118.5
              a 6 4 -35 0 1 9.829824531467902 -6.882917236212552
              a 6 4 -35 0 1 -9.829824531467902 6.882917236212552
              m 0.4095760221444959 -0.286788218175523
              a 5.5 2.2 -35 0 1 9.01067248717891 -6.309340799861506
              a 5.5 2.2 -35 0 1 -9.01067248717891 6.309340799861506" />
            <path d="M 130 183.5
              a 6 4 -35 0 1 9.829824531467902 -6.882917236212552
              a 6 4 -35 0 1 -9.829824531467902 6.882917236212552
              m 0.4095760221444959 -0.286788218175523
              a 5.5 2.2 -35 0 1 9.01067248717891 -6.309340799861506
              a 5.5 2.2 -35 0 1 -9.01067248717891 6.309340799861506" />
          </g>
          <g style="stroke:black; stroke-width:1; fill:black; fill-rule:evenodd" id="notes">
           
          </g>
          <g id="stems" style="stroke:black; stroke-width:1.5; fill:none" >
            <path d="M 140 90 v -35
                     M 130 105 v 45
                     M 130 180 v 35" />
          </g>
          <!--final barline-->
          <g style="stroke:black; stroke-width:1; fill:none">
            <path d="M 585 80 v 120" />
            <path d="M 589 80 v 120" stroke-width="3" />
          </g>
          <g id="barlines" style="stroke:black; stroke-width:1; fill:none">
            
          </g>
          
        </svg>
        
      </div>
    </div>
    
  </body>
  
</html>